<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<!--  AREA FUENTES-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">

<h1>INICIO</h1>
<h2>NUEVOS CELULARES</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/y9prime.jpg" class="card-img-thumbnail-top" alt="..." id="img1">

        <div class="card-body">
          <h5 class="card-title">HUAWEI Y9 PRIME</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 1600</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/realme5pro.jpg" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">REALME 5 PRO</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 1350</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/iphone13.png" class="card-img-thumbnail-top" id="img1" alt="...">

        <div class="card-body">
          <h5 class="card-title">iPHONE 13 PRO MAX</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 7600</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/s21ultra.png" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">S21 ULTRA</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 5200</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/redmi10.jpg" class="card-img-thumbnail-top" id="img1" alt="...">

        <div class="card-body">
          <h5 class="card-title">REDMI 10</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 4500</p>

        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="../../assets/G9play.jpg" class="card-img-thumbnail-top" id="img1" alt="...">
        <div class="card-body">
          <h5 class="card-title">G9 PLAY</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate explicabo amet aliquam sit repellat saepe minima quas fugit blanditiis accusantium at eum et, est dolor ex quaerat. Commodi, error delectus.</p>
          <p class="card-text">PRECIO: Bs 6000</p>

        </div>
      </div>
    </div>
  </div>
</div>
